
# Backend
# =======================================================================

backend/univ/courses/__pycache__/
*.pyc

backend/univ/db.sqlite3
*.sqlite3

#Mac stuff
# =======================================================================
*.DS_Store

