
# Backend
# =======================================================================

backend/univ/courses/__pycache__/
backend/univ/courses/migrations/
**.pyc


backend/univ/db.sqlite3
**.sqlite3

#Mac stuff
# =======================================================================
*.DS_Store
**/.DS_Store
.DS_Store

